<%- include('../layouts/client/header') %>

</header>
<!-- header -->
<!-- header area end -->
<!-- vertical menu and slider -->
<div id="home_vertical_menu">
   <div class="row ">
      <div class="col-lg-3 vertical_menu">
         <div class="v_menu bg-white rounded">
            <div class="cat_menu bg-warning rounded-top"><a href="#" class="pe-auto text-uppercase d-md-none d-sm-none d-none d-lg-block font-weight-bold"><i class="fas fa-bars"></i>all categories</a></div>
            <div class="navbar-header d-xl-none d-lg-none">
               <button type="button" class="btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fas fa-bars"></i></button>
            </div>
            <div id="mySidenav" class="sidenav  ">
               <div class="close-nav d-xl-none d-lg-none">
                  <span class="categories">Menu</span>
                  <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fas fa-times"></i></a>
               </div>
              <ul class="vertical_main_menu h_menu navbar navbar-nav">
                  <li><a href="index.html">Home</a></li>
                  <li class="">
                     <a class="dropdown-toggle" href="shop-left-sidebar.html"  role="button" data-toggle="dropdown" aria-expanded="false">shop&nbsp;<span class="float-right"><i class="fas fa-angle-down"></i></span></a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">left sidebar</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="shop-right-sidebar.html">right sidebar</a></li>
                     </ul>
                  </li>
                  <li class="dropdown mega_menu m1_menu level-1 font-weight-bolderer">
                     <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false">portfolio&nbsp;<span class="float-right"><i class="fas fa-angle-down"></i></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <ul class="row mx-0">
                              <li class="mg_menu col-lg-6 col-md-12 ">
                                 <ul>
                                    <li class="h_title text-uppercase font-weight-bolder border-bottom">portfolio grid 2</li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-2.html">portfolio grid 2</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-3.html">portfolio grid 3</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-4.html">portfolio grid 4</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-2.html">mesonary grid 2</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-3.html">mesonary grid 3</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-4.html">mesonary grid 4</a></li>
                                 </ul>
                              </li>
                              <li class="mg_menu col-lg-6 col-md-12">
                                 <ul>
                                    <li class="h_title text-uppercase font-weight-bolder border-bottom">theme elements</li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="title.html">title</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="category-style.html">category</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="services.html">services</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="product-tab.html">product tab</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="multi-slider-product.html">multi slider product</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a class="dropdown-toggle" href="blog.html"  role="button" data-toggle="dropdown" aria-expanded="false">
                     blog&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-weight-bolderer" href="blog.html">blog</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="blog-left-sidebar.html">left sidebar</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="blog-right-sidebar.html">right sidebar</a></li>
                     </ul>
                  </li>
                  <li class="dropdown mega_menu level-1 font-weight-bolderer">
                     <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false">Category&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <ul class="row mx-0">
                              <li class="mg_menu col-lg-4 col-md-12 ">
                                 <ul>
                                    <li class="h_title text-uppercase font-weight-bolder border-bottom">Pot</li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Pigmyweeds</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Indoor Plants</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">outdoor Plants</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Flamingo plant</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Succulent Plant</a></li>
                                 </ul>
                              </li>
                              <li class="mg_menu col-lg-4 col-md-12">
                                 <ul>
                                    <li class="h_title text-uppercase font-weight-bolder border-bottom">Plants</li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Nerve Plant</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Flowering Plants</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Plant Seed</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Luck Plants</a></li>
                                    <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Plant House</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li class="dropdown level-1 font-weight-bolderer">
                     <a class="dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-expanded="false">pages&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-weight-bolderer" href="about-us.html">about us</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="login.html">login</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="registration.html">registration</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="single-product.html">single product</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="single-blog.html">single blog</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="cart.html">cart</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="compare.html">compare</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="wishlist.html">wishlist</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="checkout.html">check out</a></li>
                        <li><a class="dropdown-item font-weight-bolderer" href="forgot.html">forgot password</a></li>
                     </ul>
                  </li>
                  <li class="level-1 font-weight-bolderer"><a href="contact-us.html">contact-us</a></li
                     >
               </ul>
            </div>
         </div>
         <!-- v_menu bg-white rounded -->
      </div>
   </div>
   <!-- row -->
</div>
<!-- container  menu_slider mt-4 -->
<!-- vertical menu and slider end -->
<!-- blog page -->
<div id="blog_page" class="blog-page">
   <div class="sp_header ">
      <div class="container custom_container ">
         <div class="row ">
            <div class="col-12 ">
               <ul class="p-md-3 p-2 bg-light">
                  <li class="d-inline-block font-weight-bolder"><a href="/home">home</a></li>
                  <li class="d-inline-block  font-weight-bolder"><a href="#" class="hr_">Blog </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="container custom_container">
      <div class="row">
         <div class="col-12">
            <div class="title_outer">
               <h1 class="mb-3 d-inline-block pb-3 position-relative border-bottom h1_">Blog</h1>
            </div>
            <!-- title_outer -->
         </div>
         <!-- col-12 -->
      </div>
      <!-- row -->
      <div class="row sh_page rounded" >
         <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4  animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0s">
               <a href="single-blog.html"><img src="assets/img/blog/blog_1.jpg" class="fst-image mx-auto d-block img-fluid rounded" alt="blog_1"></a>
               <div class="card-body p-0 mt-3">
                  <div class="blog_subtitle">
                     <span class="font-weight-bolder pr-2"><i class="far fa-calendar-alt mr-2"></i>Oct 27 2020</span>
                     <span class="font-weight-bolder border-secondary border-left border-right px-2"><i class="far fa-comments mr-2"></i>0 comments</span>
                     <span class="font-weight-bolder pl-2"><i class="fas fa-user mr-2"></i>author</span>
                  </div>
                  <h2 class="card-title mt-3"><a href="single-blog.html">Donec ac elit id metus auctor imperdiet vitae quis erat.</a></h2>
                  <p class="card-text text-muted f_13">
                     Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.
                  </p>
                  <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2 ">read more</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4  animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
               <a href="single-blog.html"><img src="assets/img/blog/blog_2.jpg" class="fst-image mx-auto d-block img-fluid rounded" alt="blog_2"></a>
               <div class="card-body p-0 mt-3">
                  <div class="blog_subtitle">
                     <span class="font-weight-bolder pr-2"><i class="far fa-calendar-alt mr-2"></i>Oct 27 2020</span>
                     <span class="font-weight-bolder border-secondary border-left border-right px-2"><i class="far fa-comments mr-2"></i>0 comments</span>
                     <span class="font-weight-bolder pl-2"><i class="fas fa-user mr-2"></i>author</span>
                  </div>
                  <h2 class="card-title mt-3"><a href="single-blog.html">Nunc placerat augue vel porta elementum consequat velit sit amet.</a></h2>
                  <p class="card-text text-muted f_13">
                     Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.
                  </p>
                  <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2">read more</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4  animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
               <a href="single-blog.html"><img src="assets/img/blog/blog_3.jpg" class="fst-image mx-auto d-block img-fluid rounded" alt="blog_3"></a>
               <div class="card-body p-0 mt-3">
                  <div class="blog_subtitle">
                     <span class="font-weight-bolder pr-2"><i class="far fa-calendar-alt mr-2"></i>Oct 27 2020</span>
                     <span class="font-weight-bolder border-secondary border-left border-right px-2"><i class="far fa-comments mr-2"></i>0 comments</span>
                     <span class="font-weight-bolder pl-2"><i class="fas fa-user mr-2"></i>author</span>
                  </div>
                  <h2 class="card-title mt-3"><a href="single-blog.html">Nullam in neque vitae arcu auctor dignissim feugiat erat.</a></h2>
                  <p class="card-text text-muted f_13">
                     Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.
                  </p>
                  <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2">read more</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4   animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0">
               <a href="single-blog.html"><img src="assets/img/blog/blog_4.jpg" class="fst-image mx-auto d-block img-fluid rounded" alt="blog_4"></a>
               <div class="card-body p-0 mt-3">
                  <div class="blog_subtitle">
                     <span class="font-weight-bolder pr-2"><i class="far fa-calendar-alt mr-2"></i>Oct 27 2020</span>
                     <span class="font-weight-bolder border-secondary border-left border-right px-2"><i class="far fa-comments mr-2"></i>0 comments</span>
                     <span class="font-weight-bolder pl-2"><i class="fas fa-user mr-2"></i>author</span>
                  </div>
                  <h2 class="card-title mt-3"><a href="single-blog.html">Maecenas suscipit massa quis magna dignissim ultricies.</a></h2>
                  <p class="card-text text-muted f_13">
                     Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.
                  </p>
                  <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2">read more</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4  animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
               <a href="single-blog.html"><img src="assets/img/blog/blog_5.jpg" class="fst-image mx-auto d-block img-fluid rounded"  alt="blog_5"></a>
               <div class="card-body p-0 mt-3">
                  <div class="blog_subtitle">
                     <span class="font-weight-bolder pr-2"><i class="far fa-calendar-alt mr-2"></i>Oct 27 2020</span>
                     <span class="font-weight-bolder border-secondary border-left border-right px-2"><i class="far fa-comments mr-2"></i>0 comments</span>
                     <span class="font-weight-bolder pl-2"><i class="fas fa-user mr-2"></i>author</span>
                  </div>
                  <h2 class="card-title mt-3"><a href="single-blog.html">Vestibulum lobortis libero volutpat volutpat bibendum sollicitudin lectus.</a></h2>
                  <p class="card-text text-muted f_13">
                     Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.
                  </p>
                  <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2">read more</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4  animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
               <a href="single-blog.html"><img src="assets/img/blog/blog_6.jpg" class="fst-image mx-auto d-block img-fluid rounded" alt="blog_6"></a>
               <div class="card-body p-0 mt-3">
                  <div class="blog_subtitle">
                     <span class="font-weight-bolder pr-2"><i class="far fa-calendar-alt mr-2"></i>Oct 27 2020</span>
                     <span class="font-weight-bolder border-secondary border-left border-right px-2"><i class="far fa-comments mr-2"></i>0 comments</span>
                     <span class="font-weight-bolder pl-2"><i class="fas fa-user mr-2"></i>author</span>
                  </div>
                  <h2 class="card-title mt-3"><a href="single-blog.html">ac elit Donec sollicitudin lectus ut efficitur lobortis.</a></h2>
                  <p class="card-text text-muted f_13">
                     Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.
                  </p>
                  <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2">read more</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container custom_container   animate__animated animate__fadeInUp">
      <div class="row">
         <div class="col-12">
            <nav class="float-right mt-xl-5 mt-md-2  mt-col-3">
               <ul class="pagination">
                  <li class="page-item">
                     <a class="page-link" href="#">
                     <span aria-hidden="true">&laquo;</span>
                     </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                     <a class="page-link" href="#">
                     <span aria-hidden="true">&raquo;</span>
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</div>

<%- include('../layouts/client/footer') %>
