<%- include('../layouts/client/header') %>

     <!-- header area end -->
      <!-- vertical menu and slider -->
      <div id="home_vertical_menu">
        <div class="row ">
           <div class="col-lg-3 vertical_menu">
              <div class="v_menu bg-white rounded">
                 <div class="cat_menu bg-warning rounded-top"><a href="#" class="pe-auto text-uppercase d-md-none d-sm-none d-none d-lg-block font-weight-bold"><i class="fas fa-bars"></i>all categories</a></div>
                 <div class="navbar-header d-xl-none d-lg-none">
                    <button type="button" class="btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fas fa-bars"></i></button>
                 </div>
                 <div id="mySidenav" class="sidenav  ">
                    <div class="close-nav d-xl-none d-lg-none">
                       <span class="categories">Menu</span>
                       <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fas fa-times"></i></a>
                    </div>
                 <ul class="vertical_main_menu h_menu navbar navbar-nav">
                       <li><a href="index.html">Home</a></li>
                       <li class="">
                          <a class="dropdown-toggle" href="shop-left-sidebar.html"  role="button" data-toggle="dropdown" aria-expanded="false">shop&nbsp;<span class="float-right"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">left sidebar</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="shop-right-sidebar.html">right sidebar</a></li>
                          </ul>
                       </li>
                       <li class="dropdown mega_menu m1_menu level-1 font-weight-bolderer">
                          <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false">portfolio&nbsp;<span class="float-right"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li>
                                <ul class="row mx-0">
                                   <li class="mg_menu col-lg-6 col-md-12 ">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">portfolio grid 2</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-2.html">portfolio grid 2</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-3.html">portfolio grid 3</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-4.html">portfolio grid 4</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-2.html">mesonary grid 2</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-3.html">mesonary grid 3</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-4.html">mesonary grid 4</a></li>
                                      </ul>
                                   </li>
                                   <li class="mg_menu col-lg-6 col-md-12">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">theme elements</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="title.html">title</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="category-style.html">category</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="services.html">services</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="product-tab.html">product tab</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="multi-slider-product.html">multi slider product</a></li>
                                      </ul>
                                   </li>
                                </ul>
                             </li>
                          </ul>
                       </li>
                       <li>
                          <a class="dropdown-toggle" href="blog.html"  role="button" data-toggle="dropdown" aria-expanded="false">
                          blog&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li><a class="dropdown-item font-weight-bolderer" href="blog.html">blog</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="blog-left-sidebar.html">left sidebar</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="blog-right-sidebar.html">right sidebar</a></li>
                          </ul>
                       </li>
                       <li class="dropdown mega_menu level-1 font-weight-bolderer">
                          <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false">Category&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li>
                                <ul class="row mx-0">
                                   <li class="mg_menu col-lg-4 col-md-12 ">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">Pot</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Pigmyweeds</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Indoor Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">outdoor Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Flamingo plant</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Succulent Plant</a></li>
                                      </ul>
                                   </li>
                                   <li class="mg_menu col-lg-4 col-md-12">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">Plants</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Nerve Plant</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Flowering Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Plant Seed</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Luck Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Plant House</a></li>
                                      </ul>
                                   </li>
                                </ul>
                             </li>
                          </ul>
                       </li>
                       <li class="dropdown level-1 font-weight-bolderer">
                          <a class="dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-expanded="false">pages&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li><a class="dropdown-item font-weight-bolderer" href="about-us.html">about us</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="login.html">login</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="registration.html">registration</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="single-product.html">single product</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="single-blog.html">single blog</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="cart.html">cart</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="compare.html">compare</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="wishlist.html">wishlist</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="checkout.html">check out</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="forgot.html">forgot password</a></li>
                          </ul>
                       </li>
                       <li class="level-1 font-weight-bolderer"><a href="/contactUs">contact-us</a></li
                          >
                    </ul>
                 </div>
              </div>
              <!-- v_menu bg-white rounded -->
           </div>
        </div>
        <!-- row -->
     </div>
     <!-- container  menu_slider mt-4 -->
     <!-- vertical menu and slider end -->
     <!-- forgot page -->
     <div id="forgot_page" class="forgot-page animate__animated animate__fadeInUp">
        <div class="sp_header bg-white p-3">
           <div class="container custom_container">
              <div class="row ">
                 <div class="col-12 ">
                    <ul>
                       <li class="d-inline-block font-weight-bolder"><a href="/home">home</a></li>
                       <li class="d-inline-block hr_ font-weight-bolder"><a href="#">Forgot password</a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
        <div class="container custom_container ">
           <h3 class="text-center">Forgot your password?  </h3>
           <div id="forgot" class="page-content card card-block p-3 p-sm-4">
              <form  action="/forgotPassword" method="post" id="form">
                 <div class="form-group">
                    <p class="renew_pass text-muted ">Please enter the email address you used to register. You will receive a OTP into your mail.</p>
                    <label for="email" class="font-weight-bolder">Email address</label>
                    <input type="email"  name="email" id="email"  oninput="validateEmail(this)" class="form-control" >
                    <div id="email-error" style="color:red;font-size: 12px;margin-top: 2rem;"><%= message %></div>
                 </div>

               <div class="d-flex justify-content-between">
                 <input type="submit" name="submit" class="btn btn-primary mt-3" value="send">
                 <a href="/login" class=" pt-4">back to login</a>
               </div>

              </form>
           </div>
        </div>
     </div>
     <!-- login_page -->
     <!-- forgot page  -->
     <!-- footer -->

<%- include('../layouts/client/footer') %>

<script>
   
</script>


