<%- include('../layouts/client/header') %>


      <!-- header -->
      <!-- header area end -->
      <!-- vertical menu and slider -->
      <div id="home_vertical_menu">
        <div class="row ">
           <div class="col-lg-3 vertical_menu">
              <div class="v_menu bg-white rounded">
                 <div class="cat_menu bg-warning rounded-top"><a href="#" class="pe-auto text-uppercase d-md-none d-sm-none d-none d-lg-block font-weight-bold"><i class="fas fa-bars"></i>all categories</a></div>
                 <div class="navbar-header d-xl-none d-lg-none">
                    <button type="button" class="btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fas fa-bars"></i></button>
                 </div>
                 <div id="mySidenav" class="sidenav  ">
                    <div class="close-nav d-xl-none d-lg-none">
                       <span class="categories">Menu</span>
                       <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fas fa-times"></i></a>
                    </div>
                   <ul class="vertical_main_menu h_menu navbar navbar-nav">
                       <li><a href="/home">Home</a></li>
                       <li class="">
                          <a class="dropdown-toggle" href="shop-left-sidebar.html"  role="button" data-toggle="dropdown" aria-expanded="false">shop&nbsp;<span class="float-right"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">left sidebar</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="shop-right-sidebar.html">right sidebar</a></li>
                          </ul>
                       </li>
                       <li class="dropdown mega_menu m1_menu level-1 font-weight-bolderer">
                          <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false">portfolio&nbsp;<span class="float-right"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li>
                                <ul class="row mx-0">
                                   <li class="mg_menu col-lg-6 col-md-12 ">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">portfolio grid 2</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-2.html">portfolio grid 2</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-3.html">portfolio grid 3</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="portfolio-grid-4.html">portfolio grid 4</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-2.html">mesonary grid 2</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-3.html">mesonary grid 3</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="mesonary-grid-4.html">mesonary grid 4</a></li>
                                      </ul>
                                   </li>
                                   <li class="mg_menu col-lg-6 col-md-12">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">theme elements</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="title.html">title</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="category-style.html">category</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="services.html">services</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="product-tab.html">product tab</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="multi-slider-product.html">multi slider product</a></li>
                                      </ul>
                                   </li>
                                </ul>
                             </li>
                          </ul>
                       </li>
                       <li>
                          <a class="dropdown-toggle" href="blog.html"  role="button" data-toggle="dropdown" aria-expanded="false">
                          blog&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li><a class="dropdown-item font-weight-bolderer" href="blog.html">blog</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="blog-left-sidebar.html">left sidebar</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="blog-right-sidebar.html">right sidebar</a></li>
                          </ul>
                       </li>
                       <li class="dropdown mega_menu level-1 font-weight-bolderer">
                          <a class="dropdown-toggle" href="single-product.html"  role="button" data-toggle="dropdown" aria-expanded="false">Category&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li>
                                <ul class="row mx-0">
                                   <li class="mg_menu col-lg-4 col-md-12 ">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">Pot</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Pigmyweeds</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Indoor Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">outdoor Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Flamingo plant</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Succulent Plant</a></li>
                                      </ul>
                                   </li>
                                   <li class="mg_menu col-lg-4 col-md-12">
                                      <ul>
                                         <li class="h_title text-uppercase font-weight-bolder border-bottom">Plants</li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Nerve Plant</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Flowering Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Plant Seed</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Luck Plants</a></li>
                                         <li><a class="dropdown-item font-weight-bolderer" href="shop-left-sidebar.html">Plant House</a></li>
                                      </ul>
                                   </li>
                                </ul>
                             </li>
                          </ul>
                       </li>
                       <li class="dropdown level-1 font-weight-bolderer">
                          <a class="dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-expanded="false">pages&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                          <ul class="dropdown-menu">
                             <li><a class="dropdown-item font-weight-bolderer" href="about-us.html">about us</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="login.html">login</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="registration.html">registration</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="single-product.html">single product</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="single-blog.html">single blog</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="cart.html">cart</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="compare.html">compare</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="wishlist.html">wishlist</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="checkout.html">check out</a></li>
                             <li><a class="dropdown-item font-weight-bolderer" href="forgot.html">forgot password</a></li>
                          </ul>
                       </li>
                       <li class="level-1 font-weight-bolderer"><a href="contact-us.html">contact-us</a></li>
                    </ul>
                 </div>
              </div>
              <!-- v_menu bg-white rounded -->
           </div>
        </div>
        <!-- row -->
     </div>
     <!-- container  menu_slider mt-4 -->
     <!-- vertical menu and slider end -->
     <!-- login page -->
     <div id="login_page" class="login-page animate__animated animate__fadeInUp">
        <div class="sp_header bg-white p-3 ">
           <div class="container custom_container">
              <div class="row ">
                 <div class="col-12 ">
                    <ul>
                       <li class="d-inline-block font-weight-bolder"><a href="/home">home</a></li>
                       <li class="d-inline-block hr_ font-weight-bolder"><a href="#">reset password</a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
        <div class="container custom_container">
         <h3 class="text-center">Reset Password</h3>
         <% if(message) { %>
             <p class="justify-content text-center" style="color: red;">
                 <%= message %>
             </p>
         <% } %>
     
         <div id="login" class="page-content card card-block p-3 p-sm-4">
             <form class="needs-validation" action="/resetPassword" method="post" onsubmit="return validateForm()">      
               <div class="form-group">
                   <label for="password" class="font-weight-bolder">New Password</label>
                   <input type="password" name="password" class="form-control" id="password" oninput="validatePassword(this.value)">
                   <div style="color: red;" id="passwordError"></div>
                   <div id="password-validation" style="color: red;"></div>
                   <div id="password-strength"></div>
               </div>
               <div class="form-group font-weight-bolder">
                   <label for="confirm_password" class="font-weight-bolder">Confirm Password</label>
                   <input type="password" name="confirm_password" class="form-control" id="confirm_password" oninput="validateConfirmPassword()">
                   <div style="color: red;" id="confirmPasswordError"></div>
               </div>
               <input type="email" name="email" value="<%= email %>" hidden id="hidden-email">
               <input type="submit" id="submit" name="submit" class="btn btn-primary mb-3" value="submit">
           </form>
       </div>
   </div>
             
            
     
     <%- include('../layouts/client/footer') %>
     
     <script>
         function validatePassword(password) {
             const passwordValidation = document.getElementById('password-validation');
             const strength = document.getElementById('password-strength');
             const passwordError = document.getElementById('passwordError');
             passwordValidation.innerHTML = '';
             strength.innerHTML = '';
             passwordError.innerHTML = '';
     
             const uppercaseRegex = /[A-Z]/;
             const specialCharRegex = /[@$!%*?&]/;
             const numberRegex = /\d/;
             const strongRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{10,}$/;
             const mediumRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%?&]{6,}$/;
     
             password = password.trim();
     
             if (password === '') {
                 passwordError.innerText = 'Password should not be empty';
                 return false;
             } else if (!uppercaseRegex.test(password)) {
                 passwordValidation.innerHTML += 'Include at least one uppercase letter.<br>';
                 return false;
             } else if (!specialCharRegex.test(password)) {
                 passwordValidation.innerHTML += 'Include at least one special character.<br>';
                 return false;
             } else if (!numberRegex.test(password)) {
                 passwordValidation.innerHTML += 'Include at least one number.<br>';
                 return false;
             }
     
             if (strongRegex.test(password)) {
                 strength.innerHTML = 'Strong';
                 strength.style.color = 'green';
                 return true;
             } else if (mediumRegex.test(password)) {
                 strength.innerHTML = 'Medium';
                 strength.style.color = 'orange';
                 return true;
             } else {
                 strength.innerHTML = 'Weak';
                 strength.style.color = 'red';
                 return false;
             }
         }
     
         function validateConfirmPassword() {
             const password = document.getElementById('password').value;
             const confirmPassword = document.getElementById('confirm_password').value;
             const confirmPasswordError = document.getElementById('confirmPasswordError');
     
             confirmPasswordError.innerHTML = '';
     
             if (confirmPassword === '') {
                 confirmPasswordError.innerText = 'Confirm password should not be empty';
                 return false;
             } else if (password !== confirmPassword) {
                 confirmPasswordError.innerText = 'Passwords do not match';
                 confirmPasswordError.style.color = 'red'
                 return false;
             }
             confirmPasswordError.textContent = 'Password match';
             confirmPasswordError.style.color = 'green'
             return true;
         }
     
         function validateForm() {
             const isPasswordValid = validatePassword(document.getElementById('password').value);
             const isConfirmPasswordValid = validateConfirmPassword();
     
             return isPasswordValid && isConfirmPasswordValid;
         }
     </script>
     
